.card {
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 0.5em 1em black;
  width: 20vw;
  overflow-wrap: break-word;
  padding: 1.5em;
  margin: auto;
  margin: 1em auto;
}

.card h1 {
  margin: 0.5em;
}

.card h2 {
  margin: 1em;
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 40vw;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    width: 60vw;
  }
}
