* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.App {
  text-align: center;
  background-color: #e0c9a6;
}

.inputs {
  background-color: white;
  border: none;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 1em;
  margin: 0.5em 1em;
  width: 75vw;
}

.btn {
  padding: 0.5em 1em;
  margin: 1em;
  font-size: 2em;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 0em 0.2em 1em black;
  transition: 0.2s ease;
}
.btn:hover {
  box-shadow: 0em 0.5em 1em black;
}
